<mat-card class="quick-facts">
  <h2 class="quick-facts__title">Quick Facts</h2>
  <div class="quick-facts__fact fact">
    <div class="fact__title">
      <h3 class="fact__title-text">Status</h3>
      <mat-icon class="fact__title-icon">open_in_new</mat-icon>
    </div>
    <div class="fact__info">
      <mat-icon class="fact__profile-icon">contacts</mat-icon>
      <ul class="fact__list">
        <li>ID: SH05123</li>
        <li>Tier: Gold</li>
        <li>Pts: 123,024</li>
      </ul>
    </div>

    <div class="fact__title">
      <h3 class="fact__title-text">Top 3 Facts</h3>
      <mat-icon class="fact__title-icon">open_in_new</mat-icon>
    </div>
    <div class="fact__info">
      <mat-icon class="fact__profile-icon">error</mat-icon>
      <ul class="fact__list">
        <li>Suite Room</li>
        <li>King Bed</li>
        <li>Highest Floor</li>
      </ul>
    </div>

  </div>
</mat-card>
